{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{#    <script src="{% static 'js/modal_register.js' %}"></script>#}
    <script src="{% static 'js/modal_form.js' %}"></script>
{% endblock %}
{% block content %}
<h5>Calendrier Général du Guide</h5><br/>
Ajouter une date <button class="create-event btn btn-primary" type="button" name="button">AJOUTER</button>
<br/>
</hr><br/><br/>
    <div class="row">

        <div class="col-md-4">
            <span><b>Libellé de l'événement</b></span>
        </div>
        <div class="col-md-4">
            <span><b>Début</b></span>
        </div>
        <div class="col-md-4">
            <span><b>Fin</b></span>
        </div>

    </div>
<hr/>
{% for event in events %}
    <div class="row">
        <div class="col-md-4">
            <span>{{ event.titre }}</span>
        </div>
        <div class="col-md-4">
            <span>{{ event.debut }}</span>
        </div>
        <div class="col-md-3">
            <span>{% if event.fin %}{{ event.fin }}{% endif %}</span>
        </div>
        <div class="col-md-1">
            <span style="color:#007bff;cursor: pointer;" data-url="/db/edit_event/{{ event.id }}" class="edit-event oi oi-pencil">&nbsp;</span>
            <a href="/db/delete_general_calendar/{{ event.id }}"><span class="oi oi-trash">&nbsp;</span></a>
        </div>
    </div>
    <hr style="width:70%;"/>


{% endfor %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-event">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

{% endblock %}