{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Charon Logicile générateur du guide des études</title>
    <link rel="stylesheet" href={% static 'css/bootstrap.css' %}>
    <link rel="stylesheet" href={% static 'css/open-iconic-bootstrap.min.css' %}>
    <link rel="stylesheet" href={% static 'css/base.css' %}>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
    <div class="container-fluid">
        <div class="row" id="bandeau">
            <div class="col-md-12" id="sub_bandeau_1">
                <img width="134px" height="55px" src="{% static 'img/logo_blanc.png' %}">
            </div>
            <div class="col-md-12" id="sub_bandeau_2">
                <img src="{% static 'img/puce.png' %}"><span>CHARON <span id="sub_title_bandeau">Générateur du guide des études</span></span>
                <div style="text-align:right;color:white;">
                    {% if user.is_authenticated %}<a href="/accounts/logout/"><span style="float:right;" class="oi oi-account-logout">&nbsp;&nbsp;Déconnexion</span></a>{% endif %}
                </div>
            </div>

        </div>
        <div class="row" id="main_sub_body">
            <div class="col-md-2" id="left_menu">
                <ul>
                    <li class="title_menu"><span class="oi oi-caret-right"></span>&nbsp;&nbsp;GESTION DES GUIDES</li>
                    {% if user.is_superuser %}
                    <li class="title_menu_sub"><a href="/db/list_guide/">- Créer / Modifier</a></li>
                    <li class="title_menu_sub"><a href="/db/list_histo/">- Historique</a></li>
                    {% endif %}
                    <li class="title_menu_sub"><a href="/db/list_guide_gen/">- Générer</a></li>
                </ul>
                <ul>
                    <li class="title_menu"><span class="oi oi-caret-right"></span>&nbsp;&nbsp;SAISIE</li>
                    {% if user.is_superuser %}
                    <li class="title_menu_sub"><a href="/db/list_couverture/">- Couverture</a></li>
                    {% endif %}
                    <li class="title_menu_sub"><a href="/db/list_mod/">- Module</a></li>
                    {% if user.is_superuser %}
                    <li class="title_menu_sub"><a href="/db/list_part_com/">- Partie Commune</a></li>
                    {% endif %}
                    <li class="title_menu_sub"><a href="/db/list_part_gui/">- Partie Spécifique</a></li>
                    {% if user.is_superuser %}
                    <li class="title_menu_sub"><a href="/db/general_cal/">- Calendrier Général</a></li>
                    {% endif %}
                    <li class="title_menu_sub"><a href="/db/module_calendar/">- Calendrier d'Examen</a></li>

                </ul>
                {% if user.is_superuser %}
                <ul>
                    <li class="title_menu"><span class="oi oi-caret-right"></span>&nbsp;&nbsp;Maintenance</li>
                    <li class="title_menu_sub"><a href="/db/copy/">- Nouvelle Année</a></li>
                    <li class="title_menu_sub"><a href="/db/list_token/">- Marqueurs</a></li>

                </ul>
                {% endif %}
            </div>
            <div class="col-md-10" id="main_content">
            {% block content %}

            {% endblock %}
            </div>
        </div>
        <div class="row" id="footer">

            <span class="col-md-12">CHARON est un logiciel dévéloppé par <a href="mailto:mickael.millanvois@univ-fcomte.fr">Mickael M</a> @CTU 2020</span>
        </div>
    </div>
</body>
</html>