<html>
    <head>
          <meta charset="UTF-8">
    </head>
    <body style="font-family:arial;font-size:12pt;width:21cm;padding-left:1cm;padding-right:1cm;margin-height:80px;">
        <h1 style="font-size:12pt;text-transform: uppercase;"><span style="text-align:center;display:inline-block;padding:5px;background-color:black;font-weight:bold;color:white;font-size:13pt;min-width:0.5cm;height:0.5cm;"></span>&nbsp;&nbsp;Calendrier des Examens</h1><br/>
        <div style="text-align:center;font-weight:bold;">
            <span>SESSION 1</span>
        </div>
        <div style="text-align:center;font-weight:bold;">
            <span style="text-transform: uppercase;">{{ k }}</span>
        </div>
            <div style="text-align:center;border-top:1px solid black;border-bottom:1px solid black;padding-top:2mm;padding-bottom:2mm;">
                <div style="display:flex;flex-direction: row;border-bottom:1px solid black;align-items: center;"><div style="padding:0.2cm;width:16%;">HORAIRES</div><div>|</div><div style="padding:0.2cm;width:9%;">DUREE</div><div>|</div><div style="padding:0.2cm;width:15%;">DIPLOME</div><div>|</div><div style="padding:0.2cm;width:15%;">UE</div><div>|</div><div style="padding:0.2cm;width:45%;">EXAMENS</div></div>
                <div style="display:flex;flex-direction: row;border-bottom:1px dashed lightgrey;align-items: center;"><div style="padding:0.2cm;width:16%;">9:00 - 10:00</div><div>|</div><div style="padding:0.2cm;width:9%;">2H</div><div>|</div><div style="padding:0.2cm;width:15%;">M1</div><div>|</div><div style="padding:0.2cm;width:15%;">VVA1E509</div><div>|</div><div style="padding:0.2cm;width:45%;">Introduction à la sociologie et stagedsfdsfsdf dsf sdf </div></div>
                <div style="display:flex;flex-direction: row;border-bottom:1px dashed lightgrey;align-items: center;"><div style="padding:0.2cm;width:16%;">9:00 - 10:00</div><div>|</div><div style="padding:0.2cm;width:9%;">2H</div><div>|</div><div style="padding:0.2cm;width:15%;">M1</div><div>|</div><div style="padding:0.2cm;width:15%;">VVA1E509</div><div>|</div><div style="padding:0.2cm;width:45%;">Introduction à la sociologie  </div></div>
            </div><br/>
        <div style="page-break-after: always;"></div>
    </body>
</html>