{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'js/ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sortable_parts.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>
    <script src="{% static 'js/ui/jquery-ui.min.js'  %}"></script>
    <script src="{% static 'js/sortable_parts.js' %}"></script>
{% endblock %}
{% block content %}
    <form action="" method="post">{% csrf_token %}
    <div class="row">

            <div class="col-md-12">
                <h5>Edition des informations de la partie</h5>
                <hr/>
                {{ part |crispy}}
            </div>
            <div class="col-md-12 "><br/><br/>
                 <h5>Page associée</h5>
                <hr/>
                {{ page.media }}
                {{ page.as_p }}
            </div>
            <div class="form-group col-md-12">
                <button class="btn btn-success" >SAUVEGARDER</button>
            </div>

    </div>
    </form>
{% endblock %}