{% extends 'base.html' %}
{% block content %}
    <h4>Bienvenue sur Charon le générateur de guide des études</h4>
    <hr/><br/>
    <p>
        <h5>Principe de base</h5>
        <hr/>
        Charon est un logiciel vous permettant de créer un guide des études en quelque étapes seulement:<br/><br/>
        <ol>
            <li>Création de la structure du guide</li>
            <li>Paramètrage de votre structure</li>
            <li>Création des parties communes à tous les guides</li>
            <li>Création des parties spécifiques à vos guides</li>
            <li>Ajout des calendriers : d'examens et général</li>
            <li>Saisie des informations essentielles des modules</li>
        </ol>
    </p><br/>
    <hr/>
    <p>
        <h5>Mais ce n'est pas tous...</h5>
        <hr>
    Vous allez aussi être en mesure de recopier vos guide d'une années sur l'autre et limiter la saisie. Avec en plus la gestion d'un calendrier qui <b>évolue avec les années</b> et prend en compte <b>les numéros de semaine.</b>

    </p><br/>
    <p>
        <h5>Pour commencer</h5>
        <hr>
        Il vous faudra faire la demande d'un compte propre à votre filière. Pour cela merci de <b><a href="mailto:ctu-support@univ-fcomte.fr">contacter le service informatique</a></b>.<br/>
        Pour plus de précision merci de consulter la <b><a href="">documentation</a></b>.
    </p>
{% endblock %}