{% extends "base.html" %}
{% load tz %}
{% block content %}
    <div id="list_guide">
            <div class="row title_row">
                <span class="col-md-3 title_list_left">Intitulé</span><span class="col-md-7 title_list_center">Dernière Modification</span><span class="col-md-2 title_list_right">Action</span>
            </div>
            <hr>
        {% for guide in object_list %}
            <div class="row">
                <span class="col-md-3 title_list_left">{{ guide }}</span><span class="col-md-7 title_list_center"></span><span class="col-md-2 title_list_right"></span>
                <div class="col-md-12">
                    {% for histo in guide.historique.all %}
                        <span> - Le {{ histo.derniere_publication|localtime }}</span>&nbsp;&nbsp;&nbsp;<span><a class="oi oi-data-transfer-download" href="{{ histo.fichier.url }}"></a></span><br/>
                    {% endfor %}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div id="add_button">
        <a href="/db/create_guide"><span class="btn btn-info">NOUVEAU</span></a>
    </div>
{% endblock %}
