{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script src="{% static 'js/modal_form_key.js' %}"></script>
{% endblock %}
{% block content %}

    <h5>Liste des marqueurs utilisables</h5><br/>
    <p>
        Chaque marqueur doit être utilisé de la façon suivante : <br/>
        Dans le texte de la page il faut spécifier "<b>{% templatetag openvariable %} ctu_cledumarqueur {% templatetag closevariable %}</b>"

    </p><br/>
    Ajouter un marqueur : &nbsp;&nbsp;<button class="create-event btn btn-primary" type="button" name="button">AJOUTER</button><br/><br/>
    <div class="row">
        <div class="col-md-4">
            <b>Titre</b>
        </div>
        <div class="col-md-4">
            <span><b>Valeur</b></span>
        </div>
        <div class="col-md-3">
            <span><b>Clé à utiliser</b></span>
        </div>
        <div class="col-md-1">
            <b>Supression</b>
        </div>
    </div><hr style="border:1px solid black;"/>

    {% for token in tokens %}
    <div class="row">
        <div class="col-md-4">
            <span>{{ token.titre }}</span>
        </div>
        <div class="col-md-4">
            <span><i>{{ token.value }}</i></span>
        </div>
        <div class="col-md-3">
            <span><b>{% templatetag openvariable %} ctu_{{ token.key }} {% templatetag closevariable %}</b></span>
        </div>
        <div class="col-md-1">
            <span style="color:#007bff;cursor: pointer;" data-url="/db/edit_token/{{ token.id }}" class="edit-token oi oi-pencil">&nbsp;</span>
            <a href="/db/delete_token/{{ token.id }}"><span class="oi oi-trash">&nbsp;</span></a>
        </div>
    </div>
    <hr style="width:70%;"/>


{% endfor %}

<div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog" id="modal-token">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

{% endblock %}