{% extends "base.html" %}
{% block content %}
    <div id="list_guide">
            <div class="row title_row">
                <span class="col-md-3 title_list_left">Intitulé</span><span class="col-md-7 title_list_center">Dernière Modification</span><span class="col-md-2 title_list_right">Action</span>
            </div>
            <hr>
        {% for guide in object_list %}
            <div class="row">
                <span class="col-md-3 title_list_left">{{ guide }}</span><span class="col-md-7 title_list_center">{{ guide.derniere_modification }}</span><span class="col-md-2 title_list_right"><a href="/db/edit_guide/{{ guide.id }}"><span class="oi oi-pencil"></span></a>&nbsp;&nbsp;<a href="/db/delete_guide/{{ guide.id }}"><span class="oi oi-trash"></span></a></span>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div id="add_button">
        <a href="/db/create_guide"><span class="btn btn-info">NOUVEAU</span></a>
    </div>
{% endblock %}
