{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jstree.css' %}">
<link rel="stylesheet" href="{% static 'css/custom_jstree.css' %}">
<script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>
<script src="{% static 'jstree.js'  %}"></script>
<script src="{% static 'custom_plugin_jstree.js'  %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
<script src="{% static 'js/select_fil.js' %}"></script>
<script src="{% static 'js/complete_module.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <h5>Séléction de l'étape à éditer</h5>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                <select class="col-md-12" id="filiere_select">
                    <option>-- FILIERE --</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="col-md-12" id="diplome_select">
                    <option>-- DIPLOME --</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="col-md-12" id="etape_select">
                    <option>-- ETAPE --</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12"><br/>
        <h5>Modules éditables</h5>
        <hr/>
        <div id="js_tree" class="col-md-12">

        </div>

    </div>

{% endblock %}