{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jstree.css' %}">
<link rel="stylesheet" href="{% static 'css/custom_jstree.css' %}">
<link rel="stylesheet" type="text/css" href="{% static "js/ui/jquery-ui.min.css" %}"/>
<script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>
<script src="{% static 'jstree.js'  %}"></script>
<script src="{% static '/js/custom_plugin_jstree_calendar.js'  %}"></script>
<script src="{% static 'js/select2.js' %}"></script>
<script src="{% static 'js/select_fil.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js.map' %}"></script>
{#<script src="{% static 'js/modal_register.js' %}"></script>#}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
{#<script src="{% static 'js/modal_form_calendar.js' %}"></script>#}
<link href="{% static 'css/bootstrap-datepicker.css' %}" type="text/css" media="all" rel="stylesheet">
<link href="/static/bootstrap_datepicker_plus/css/datepicker-widget.css" type="text/css" media="all" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/moment-with-locales.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'bootstrap_datepicker_plus/js/datepicker-widget.js' %}"></script>
<script src="{% static 'js/modal_calendar_custom.js' %}"></script>
<script src="{% static 'js/ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/modal_calendar_custom.js' %}"></script>
{% endblock %}

{% block content %}

    <div class="col-md-12">
        <h5>Séléction de l'étape à éditer</h5>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                <select class="col-md-12" id="filiere_select">
                    <option>-- FILIERE --</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="col-md-12" id="diplome_select">
                    <option>-- DIPLOME --</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="col-md-12" id="etape_select">
                    <option>-- ETAPE --</option>
                </select>
            </div>
        </div>
    </div>
    <div class="col-md-12"><br/>
        <h5>Modules éditables</h5>
        <hr/>
        <div id="js_tree" class="col-md-12">

        </div>

    </div>

{#<div class="modal fade" tabindex="-1" role="dialog" id="modal">#}
{#  <div class="modal-dialog" role="document">#}
{#    <div class="modal-content">#}
{##}
{#    </div>#}
{#  </div>#}
{#</div>#}
<div id="dialog_for_modal">


</div>

{% endblock %}