<html>
    <head>
          <meta charset="UTF-8">
    </head>
    <body style="font-family:arial;font-size:12pt;width:21cm;padding-left:1cm;padding-right:1cm;margin-height:80px;">
        <script>

            document.addEventListener('DOMContentLoaded', function(event) {

                var body = document.getElementsByClassName('counter_title')[0];
                var h2 = body.getElementsByTagName("h2");
                for(var i=0;i<h2.length;i++){

                    var txt = h2[i].textContent
                    h2[i].textContent = i+" - "+txt

                }
            })

        </script>
        <h1 style="font-size:12pt;text-transform: uppercase;"><span style="text-align:center;display:inline-block;padding:5px;background-color:black;font-weight:bold;color:white;font-size:13pt;min-width:0.5cm;height:0.5cm;"></span>&nbsp;&nbsp;{{ order }} - {{ titre }}</h1><br/>
        <div class="counter_title">
            <h2>truc</h2>
                <h3>muche</h3>
                <h3>muche</h3>
                <h3>muche</h3>
                <h3>muche</h3>
                <h3>muche</h3>
            <h2>truc</h2>
                <h3>sdfsdf</h3>
                <h3>sdfsdf</h3>
                <h3>sdfsdf</h3>
            <h2>truc</h2>
            <h2>truc</h2>
            <h2>truc</h2>
            <h3>dsfsdf</h3>
            <h2>truc</h2>
        </div>
        <div style="page-break-after: always;"></div>
    </body>
</html>