{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h5>Mise à jour minimum du module</h5>
    <form method="post" action="">{% csrf_token %}
        <span>Voulez vous vraiment récupérer les informations minimums du module ? (titre, enseignants, ects ... )</span>
        <button type="submit" class="btn btn-success" name="valider">OUI</button>
        <button type="submit" class="btn btn-danger" name="retour">NON</button>
    </form>
{% endblock %}