{% extends 'base.html' %}
{% block content %}
    <h4>Recopie de l'année courante</h4><br/>
    <hr/>
    <p>
      Vous allez recopier l'année courante pour créer une nouvelle année. Pour cela créer une nouvelle année en précisant : <br/>
      <ul>
          <li>Le <b>nom court</b> ( ex : 2019)</li>
          <li>Le <b>nom long</b> ( ex : 2019-2020)</li>
          <li><b>Optionnel :</b> Cocher la case <b>Nouvelle année devient courante</b> pour faire de l'année nouvellement créer l'année courante</li>
      </ul><br/>
        <form action="" class="form-group col-md-4" method="post">{% csrf_token %}
            <label for="court">Nom court : </label>
            <input id="court" class="form-control" type="text" name="court">
            <label for="long">Nom long : </label>
            <input id="long" class="form-control" type="text" name="long">
            <label for="current">Nouvelle année devient courante : </label>
            <input id="current" class="form-control" type="checkbox" name="current">
            <button class="btn btn-success" name="copy">RECOPIER</button>
        </form>
    </p><br/><br/>
    <hr style="border:1px solid black;"/>
    <br/><br/>
    <h4>Changement d'année courante</h4><br/>
    <hr/>
    <p>

        Pour changer l'année courante séléctionner l'année et valider <b>Ne remplisser pas le formulaire du dessus</b>
        <form action="" class="col-md-4 form-group" method="post">{% csrf_token %}
            <label for="year">Nom court : </label>
            <select class="form-control" name="year">
                {% for year in years %}
                    <option {% if current.id == year.id %}selected{% endif %} value="{{ year.id }}">{{ year.nom_long }}</option>
                {% endfor %}
            </select><br/>
            <button class="btn btn-success" name="change">CHANGER</button>
        </form>
    </p>
{% endblock %}