{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'js/ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sortable_parts.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>
    <script src="{% static 'js/ui/jquery-ui.min.js'  %}"></script>
    <script src="{% static 'js/sortable_parts.js' %}"></script>
    <script src="{% static 'js/autocomplete_param.js' %}"></script>
{% endblock %}
{% block content %}
    <form action="" method="post">{% csrf_token %}
    <div class="row">
            <div id="form_guide" class="form-group col-md-12">
                <label for="form_title_guide">Intitulé du guide :</label>
                <input class="col-md-6 form-control" id="form_title_guide" name="title_guide" type="title_guide">
            </div>
            <div class="form-group col-md-12">
                <span id="add_element" class="btn btn-info">+ AJOUTER UN ELEMENT</span>
            </div>
            <div class="form-group col-md-12">
                <ul id="sortable_parts" class="col-md-6">
                </ul>
            </div>
            <div class="form-group col-md-12">
                <button class="btn btn-success" >SAUVEGARDER</button>
            </div>

    </div><br/><br/>
    <div class="row"><br/><br/>
        <div class="col-md-12">
            <h5>Légende :</h5>
        </div>
        <div class="legend_style_item col-md-12">
            <span>Partie commune : <span class="item_com item_legend_form"></span></span>
            <span>Partie appartenant au guide : <span class="item_gui item_legend_form"></span></span>
            <span>Partie générée automatiquement : <span class="item_gen item_legend_form"></span></span>
        </div>
    </div>
    <form>
    <!-- formulaire de création de partie du guide -->
    <div id="dialog-form" title="Créer une nouvelle partie du guide">
      <p class="validateTips">Merci de remplir tous les champs</p>
      <form id="add_part_form">
        <fieldset>
          <div class="form-group">
              <select name="type" id="type" class="form-control ui-widget-content ui-corner-all">
                  <option>-- TYPE DE LA PARTIE --</option>
                  <option value="com">COMMUNE</option>
                  <option value="gen">GENEREE</option>
                  <option value="gui">GUIDE</option>
              </select>
          </div>
          <div class="form-group">
              <select name="sub_type" id="sub_type" class="form-control ui-widget-content ui-corner-all">
              </select>
          </div>
          <div class="form-group">
              <label for="part_title">Titre de la partie :</label>
              <input type="text" name="part_title" id="part_title" class="form-control">
          </div><br/>
          <div class="form-group">
              <label id="part_parameter_title" for="part_parameter">Paramètre de la partie : (un paramètre par partie, ex : ETAPE-VETAPE)</label>
              <input type="text" name="part_parameter" id="part_parameter" class="form-control">
          </div>
          <input class="btn btn-success" type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
      </form>
    </div>
{% endblock %}