{% extends 'base.html' %}
{% block content %}
    <form method="post">{% csrf_token %}
        <p>Voulez vous vraiment supprimer l'entrée : {{ object.titre }} du calendrier général ?</p>
        <button class="btn btn-success" type="submit" value="Confirm">OUI</button>
</form>
{% endblock %}