{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'js/ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/sortable_parts.css' %}">
    <script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>
    <script src="{% static 'js/ui/jquery-ui.min.js'  %}"></script>
    <script src="{% static 'js/sortable_parts.js' %}"></script>
{% endblock %}
{% block content %}
    <p>
        Merci de déposer un fichier au format PDF d'une seule page qui représentera votre fichier de couverture<br/>
        Les emplacements devront être identique au ancien fichier afin que le placement des différentes informations soit fait<br/>
    </p>
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form | crispy }}<br/>
        <button class="btn btn-success"  type="submit">VALIDER</button>
    </form>
{% endblock %}