{% extends 'base.html' %}
{% block content %}
    <div id="list_guide">
            <div class="row title_row">
                <span class="col-md-8 title_list_left">Intitulé</span><span class="col-md-4 title_list_right">Action</span>
            </div>
            <hr>
        {% for guide in object_list %}
            <div class="row">
                <span class="col-md-8 title_list_left">{{ guide }}</span>
                <span class="col-md-4 title_list_right"><a href="/db/edit_couverture/{{ guide.id }}">
                    <span class="oi oi-pencil"></span></a>&nbsp;&nbsp;
            </div>
            <hr>
        {% endfor %}
    </div>
    <div id="add_button">
        <a href="/db/create_part_com"><span class="btn btn-info">NOUVELLE PARTIE</span></a>
    </div>
{% endblock %}