{% extends 'base.html' %}
{% block content %}
<form method="post">{% csrf_token %}
    <p>Etes vous sur de vouloir supprimer le guide "{{ object.intitule }}"?</p>
    <input class="btn btn-success" type="submit" value="CONFIRMER">
    <input class="btn btn-danger" type="submit" name='cancel' value="ANNULER">
</form>
{% endblock %}