{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_head %}
{% endblock %}
{% block content %}
    <form action="" method="post">{% csrf_token %}
        <h5>Edition du module</h5>
        <hr/>
        {{ form.media }}
        <a style="text-decoration:none;" href="/db/update_mod/{{ form.instance.code }}">MODULE MINIMUM : <span class="oi oi-reload"></span></a><br/><br/>
        {{ form |crispy  }}<br/><br/>
        <hr/>
        <button name="go" type=submit class="btn btn-success">VALIDER</button>
    </form>
{% endblock %}