{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_head %}
    <script src="{% static 'js/jquery-3.3.1.min.js'  %}"></script>
    <link href="{% static 'css/select2.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/select2.full.min.js' %}"></script>
    <script src="{% static 'js/extra_select2.js' %}"></script>
{% endblock %}
{% block content %}
    <form action="" method="post">{% csrf_token %}
        <h5>Edition des informations de la partie</h5>
        <hr/>
        {{ form_part | crispy  }}<br/><br/>
        <h5>Page associée</h5>
        <hr/>
        {{ form_page.media }}{{ form_page.as_p }}<br/><br/>
        <button name="go" type=submit class="btn btn-success">VALIDER</button>
        <button name="rollback" type="submit" class="btn btn-danger">RETOUR</button>
    </form>
{% endblock %}