{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <form class="filter_action" action="" method="get">
        <div class="row">
            <div class="col-md-3 form-group">{{ filter.form.as_p }}</div>
            <div class="col-md-9"><button class="btn btn-info" value="filter" type="submit">FILTRER</button></div>
        </div>

    </form>
    <div id="list_guide">
            <div class="row title_row">
                <span class="col-md-8 title_list_left">Intitulé</span><span class="col-md-4 title_list_right">Action</span>
            </div>
            <hr>
        {% for part in filter.qs %}
            <div class="row">
                <span class="col-md-8 title_list_left">{{ part }}</span>
                <span class="col-md-4 title_list_right"><a href="/db/edit_part/{{ part.id }}">
                    <span class="oi oi-pencil"></span></a>&nbsp;&nbsp;<a href="/db/delete_part_com/{{ part.id }}">
                    <span class="oi oi-trash"></span></a></span>
            </div>
            <hr>
        {% endfor %}
    </div>
{% endblock %}
