{% extends "base.html" %}
{% block content %}
    <div id="list_guide">
            <div class="row title_row">
                <span class="col-md-8 title_list_left">Intitulé</span><span class="col-md-4 title_list_right">Action</span>
            </div>
            <hr>
        {% for part in object_list %}
            <div class="row">
                <span class="col-md-8 title_list_left">{{ part }}</span>
                <span class="col-md-4 title_list_right"><a href="/db/edit_com_part/{{ part.id }}">
                    <span class="oi oi-pencil"></span></a>&nbsp;&nbsp;<a href="/db/delete_part_com/{{ part.id }}">
                    <span class="oi oi-trash"></span></a></span>
            </div>
            <hr>
        {% endfor %}
    </div>
    <div id="add_button">
        <a href="/db/create_part_com"><span class="btn btn-info">NOUVELLE PARTIE</span></a>
    </div>
{% endblock %}
