{% extends 'base.html' %}

{% block title %}Authentification sur Charon{% endblock %}

{% block content %}
  <h2>Authentification</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-info" type="submit">S'authentifier</button>
  </form>
{% endblock %}