#body{

    font-family: Arial;

}

#sub_bandeau_1{

    background-color:#333333;
    text-align:right;
    padding:5px;

}

#sub_bandeau_2{

    background-color:#EF3640;
    /*height:65px;*/
    padding:5px;
    line-height:55px;
    font-size:18px;
    font-weight: bold;

}


#sub_bandeau_2 span {

    color:white;
    font-variant-caps: small-caps;

}

#sub_title_bandeau{

    font-weight:normal;
    font-size:10px;

}

#left_menu{

    background-color:#333333;
    min-height: 1000px;

}

#left_menu {

    padding-top:30px;

}

#left_menu .title_menu{

    color:white;
    font-variant-caps: small-caps;
    font-size: 1.2em;
    margin-left:-1em;
    margin-bottom:0.5em;
    margin-top:1em;
    font-weight: bold;
}

#left_menu ul{

    list-style:none;

}


#left_menu .title_menu_sub{

    color:white;
    font-size: 1em;
    font-weight: bold;
    margin-bottom:0.8em;
}

#footer{

    background-color: #1e1e1e;
    height:50px;
    text-align:center;
    color:white;
    line-height:50px;
    font-size:0.6em;
}

#footer a {

    color:white;
    text-decoration:underline;
}

#list_guide{

    margin-top:1em;
    list-style:none;

}

.title_list_left{

    display:inline-block;
    text-align:left;

}

.title_list_center{

    display:inline-block;
    text-align:center;

}

.title_list_right{

    display:inline-block;
    text-align:right;

}

.title_row{

    font-weight:bold;

}

#add_button{

    float:right;

}


#main_content{

    padding-top:1em;

}