#sortable_parts{

    list-style:none;
    margin-block-start:0em;
    padding-inline-start:0em;
}

#sortable_parts li{

    display:block;
    padding:0.5em;
    margin-bottom: 0.2em;
    color:white;
}

.item_sortable_red{

    background-color: #cf0000;

}

.item_sortable_blue{

    background-color: #3a95cb;

}

.item_sortable_green{

    background-color: #44d190;

}

.trash-delete{

    cursor:pointer;
    float:right;
    width:2em;
    display:inline-block;
    background-color:white;
    color:black;
    border-radius: 50%;
    height:2em;
    text-align:center;
    padding:0.5em;
    margin-top:-0.3em;

}

.pencil-edit{

    cursor:pointer;
    float:right;
    margin-right:0.5em;
    width:2em;
    display:inline-block;
    background-color:white;
    color:black;
    border-radius: 50%;
    height:2em;
    text-align:center;
    padding:0.5em;
    margin-top:-0.3em;

}

.item_legend_form{

    display:inline-block;
    height:1em;
    width:2em;
    border:1px solid black;
    font-weight:bold;
    margin-right:1em;

}

.item_com{

    background-color:#3a95cb;

}

.item_gen{

    background-color:#cf0000;

}

.item_gui{

    background-color:#44d190;

}

.legend_style_item{

    font-weight:bold;

}